@using Aliasys.Common.Dtos;
@using Newtonsoft.Json;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers


@{
    TempDataUserDto userInfo = JsonConvert.DeserializeObject<TempDataUserDto>(TempData["UserInfo"].ToString());
    TempData.Keep();
}
<ul class="sidebar-nav" id="sidebar-nav">
    <li class="nav-item">
        <a class="nav-link " href="~/portal">
            <i class="bi bi-grid"></i>
            <span>Portfolio Portal</span>
        </a>
    </li>

    @if (userInfo.Roll == "Admin")
    {
        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#system-settings" data-bs-toggle="collapse" href="#">
                <i class="bi bi-gear"></i><span>System Settings</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="system-settings" class="nav-content collapse " data-bs-parent="#sidebar-nav" style="background: white;">
                <li>
                    <a href="~/organization">
                        <i class="bi bi-circle"></i><span>Organization Management</span>
                    </a>
                </li>
                <li>
                    <a href="~/system">
                        <i class="bi bi-circle"></i><span>System Management</span>
                    </a>
                </li>
            </ul>
        </li>
    }
    <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#service-nav" data-bs-toggle="collapse" href="#">
            <i class="bi bi-headset"></i><span>Service Management</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="service-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav" style="background: white;">
            @if (userInfo.Roll == "Admin")
            {
                <li>
                    <a href="~/serviceManagement">
                        <i class="bi bi-circle"></i><span>Service Administration</span>
                    </a>
                </li>
            }
            <li>
                <a href="~/serviceRequestIndex">
                    <i class="bi bi-circle"></i><span>Dispatch By Me</span>
                </a>
            </li>
            @if (userInfo.Roll == "Admin" || userInfo.Roll == "Service_Provider")
            {
                <li>
                    <a href="~/GetServiceRequest">
                        <i class="bi bi-circle"></i><span>Pending To Me</span>
                    </a>
                </li>
            }

        </ul>
    </li>
</ul>