<div id="modal-loader" class="modal fade" tabindex="-1" data-bs-backdrop="static" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <img src="~/img/logo/logo-animation.gif" alt="animation_logo" />
        </div>
    </div>
</div>

<style>
    #modal-loader .modal-content {
        background-color: transparent !important;
        background-color: #fff;
        border: none !important;
        border-radius: 0 !important;
        outline: 0;
    }
</style>