@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using Aliasys.Application.Services.InternalServices.ServiceServices.ServiceStateServices.Commands.UpdateServiceState;
@model RequestUpdateServiceStateDto

<form asp-route="UpdateServiceState" autocomplete="off" onsubmit="return jQueryAjaxPost(this);">
    <div class="row mb-3 mt-4">
        <div class="col-12">
            <input type="hidden" asp-for="Id" />
            <div class="form-group mb-3">
                <label asp-for="ServiceRequestTypeId_FK" class="col-form-label required-field"></label>
                <select class="form-select" asp-for="ServiceRequestTypeId_FK" asp-items="@ViewBag.ServiceReqTypeList" autofocus tabindex="1">
                    <option value="0" disabled selected="selected">-- Select Category --</option>
                </select>
                <span asp-validation-for="ServiceRequestTypeId_FK" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="StateName" class="col-form-label required-field"></label>
                <input asp-for="StateName" class="form-control" placeholder="Enter name" maxlength="50" tabindex="2" />
                <span asp-validation-for="StateName" class="text-danger"></span>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <button type="submit" class="mr-1 shadow-z-2 btn btn-success" onclick="$.validator.unobtrusive.parse($('form'));" tabindex="3">Update</button>
        <button type="button" class="mr-1 shadow-z-2 btn btn-secondary" data-bs-dismiss="modal" tabindex="4">Cancel</button>
    </div>
</form>

