@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using Aliasys.Application.Services.InternalServices.UserGroupServices.Commands.CreateUserGroup;
@model RequestCreateUserGroupDto

<form asp-route="createUserGroup" autocomplete="off" onsubmit="return jQueryAjaxPost(this);">
    <div class="row mb-3 mt-4">
        <div class="col-12">
            <div class="form-group mb-3">
                <label asp-for="GroupName" class="col-form-label required-field"></label>
                <input asp-for="GroupName" class="form-control" placeholder="Enter group name" maxlength="50" tabindex="1" />
                <span asp-validation-for="GroupName" class="text-danger"></span>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <button type="submit" class="mr-1 shadow-z-2 btn btn-success" onclick="$.validator.unobtrusive.parse($('form'));" tabindex="2">Create</button>
        <button type="button" class="mr-1 shadow-z-2 btn btn-secondary" data-bs-dismiss="modal" tabindex="3">Cancel</button>
    </div>
</form>
