@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using Aliasys.Application.Services.InternalServices.ServiceServices.ServiceRequestTypeServices.Commands.CreateServiceRequestType;
@model RequestCreateServiceRequestTypeDto

<form asp-route="createServiceRequestType" autocomplete="off" onsubmit="return jQueryAjaxPost(this);">
    <div class="row mb-3 mt-4">
        <div class="col-12">
            <div class="form-group mb-3">
                <label asp-for="RequestType" class="col-form-label required-field"></label>
                <select class="form-select" asp-for="RequestType" asp-items="@ViewBag.RequestTypeList" tabindex="1">
                    <option value="0" disabled selected="selected">-- Select Request Type --</option>
                </select>
                <span asp-validation-for="RequestType" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Name" class="col-form-label required-field"></label>
                <input asp-for="Name" class="form-control" placeholder="Enter name" maxlength="50" tabindex="2" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="BriefName" class="col-form-label required-field"></label>
                <input asp-for="BriefName" class="form-control" placeholder="Enter name" maxlength="5" tabindex="3" />
                <span asp-validation-for="BriefName" class="text-danger"></span>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <button type="submit" class="mr-1 shadow-z-2 btn btn-success" onclick="$.validator.unobtrusive.parse($('form'));" tabindex="4">Create</button>
        <button type="button" class="mr-1 shadow-z-2 btn btn-secondary" data-bs-dismiss="modal" tabindex="5">Cancel</button>
    </div>
</form>

